.container {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.message {
  margin-top: 8px;
}

.author {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 28px 20px;
    max-width: 100%;
  }
}
